<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/font-awesome.min.css">
  <link rel="icon" href="/img/youtube.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <form>
      <div class="panel panel-info">
        <div class="panel-heading"><h4 class="font-weight-bold">KHÁM LÂM SÀNG</h4> </div>
        <div class="panel-body">
          <div class="panel panel-primary">
            <div class="panel-heading">1. Nội khoa</div>
            <div class="panel-body">
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">a. Tuần hoàn</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Tuần hoàn" value="T1,T2 đều khỏe" required>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">b. Hô hấp</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Hô hấp" value="Phổi không nghe ran" required>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">c. Tiêu hóa</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Tiêu hóa" value="bụng mềm" required>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">d. Thận - tiết niệu</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Thận - tiết niệu" value="chạm thận....???" required>
                </div>
                <div class="col-md-2 mb-6">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">đ. Nội tiết</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Nội tiết" value="bình thường" required>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">e. Cơ - xương - khớp</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Cơ - xương - khớp" value="bình thường" required>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">g. Thần kinh</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Thần kinh" value="tỉnh táo" required>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-8 mb-6">
                  <label for="validationServer01">h. Tâm thần</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Tâm thần" value="tỉnh táo" required>
                </div>
                <div class="col-md-2 mb-6">
                  <label for="validationServer02">Phân loại</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                </div>
                <div class="col-md-2 mb-4">
                  <label for="validationServer02">Bác sĩ khám</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Bác sĩ khám" value="" required>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">2. Mắt</div>
            <div class="panel-body">
              <div class="form-row">
                <div class="col-md-10">
                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label for="validationServer01">Không kính: mắt phải</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Mắt phải" value="10/10" required>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationServer01">Không kính: mắt trái</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Mắt trái" value="10/10" required>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationServer01">Có kính: mắt phải</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Mắt phải" value="" >
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationServer01">Có kính: mắt trái</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Mắt trái" value="" >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-10 mb-6">
                      <label for="validationServer01">Các bệnh về mắt (nếu có):</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Bệnh về mắt" value="không" required>
                    </div>
                    <div class="col-md-2 mb-6">
                      <label for="validationServer02">Phân loại</label>
                      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="col-md-12">
                    <label for="validationServer01">Bác sĩ khám</label>
                    <textarea class="form-control" rows="4" id="comment"></textarea>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">3. Tai - mũi - họng</div>
            <div class="panel-body">
              <div class="form-row">
                <div class="col-md-10">
                  <div class="form-row">
                    <div class="form-row">
                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Tai trái: nói thường</label>
                        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Tai trái: nói thường" value="5m" required>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Tai trái: nói thầm</label>
                        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Tai trái: nói thầm" value="0.5m" required>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Tai phải: nói thường</label>
                        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Tai phải: nói thường" value="5m" required>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Tai phải: nói thầm</label>
                        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Tai phải: nói thầm" value="0.5m" required>
                      </div>

                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-10 mb-10">
                      <label for="validationServer01">- Các bệnh về tai mũi họng (nếu có):</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Bệnh về tai mũi họng" value="không" required>
                    </div>
                    <div class="col-md-2 mb-2">
                      <label for="validationServer02">Phân loại</label>
                      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Phân loại" value="I" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="col-md-12 mb-12">
                    <label for="validationServer01">Bác sĩ khám</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">4. Răng - hàm - mặt</div>
            <div class="panel-body">
              <div class="form-row">
                <div class="col-md-10">
                  <div class="form-row">
                    <div class="col-md-6 mb-6">
                      <label for="validationServer01">Hàm trên</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="hàm trên" value="sức nhai: 100%" required>
                    </div>
                    <div class="col-md-6 mb-6">
                      <label for="validationServer01">Hàm dưới</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="hàm dưới" value="sức nhai: 100%" required>
                    </div>

                  </div>
                  <div class="form-row">
                    <div class="col-md-10 mb-10">
                      <label for="validationServer01">Các bệnh về Răng - Hàm - Mặt (nếu có)</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="bệnh răng - hàm - mặt" value="không" >
                    </div>
                    <div class="col-md-2 mb-2">
                      <label for="validationServer01">Xếp loại</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Xếp loại" value="I" >
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="col-md-12 mb-12">
                    <label for="validationServer01">Bác sĩ khám</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading"><h4 class="font-weight-bold">KHÁM CẬN LÂM SÀNG</h4> </div>
        <div class="panel-body">
          <div class="form-row">
            <div class="col-md-12 mb-12">
              <label for="validationServer01">Xét nghiệm huyết học/sinh hóa/X-Quang và các xét nghiệm khác khi có chỉ định của bác sĩ</label>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-12">
                <label for="validationServer01">a. Kết quả</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <div class="form-row">
                <div class="col-md-12 mb-12">
                  <label for="validationServer01">b. Đánh giá</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
          <label for="validationServer01">Bác sĩ kết luận</label>
          <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Người kết luận" value="" >
          <hr>
          <button class="btn btn-primary" type="submit" style="width:100%">Xác nhận</button>
        </div>
      </div>
    </form>
  </body>
  </html>

  <style media="screen">
  .form-row{
    margin-bottom: 10px;
  }
  </style>
