<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
    <li class="nav-item ">
      <a href="/profile/" class="nav-link active">
        <span class="text-success"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
        <p>
          Profile
        </p>
      </a>
    </li>
    <li class="nav-item has-treeview menu-close">
      <a href="#" class="nav-link">
        <span class="text-warning"><i class="fa fa-folder" aria-hidden="true"></i></span>
        <p>
          Kênh bạn đăng ký
          <i class="fa fa-angle-left right" aria-hidden="true"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/subscription/sub/index" class="nav-link">
            <p>Kênh bạn subscribe</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/subscription/sub/unsubscribe" class="nav-link">
            <p>Kênh bạn unsubscribe</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview menu-close">
      <a href="#" class="nav-link">
        <span class="text-danger"><i class="fa fa-sun-o" aria-hidden="true"></i></span>
        <p>
          Kênh đăng ký bạn
          <i class="fa fa-angle-left right" aria-hidden="true"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/subscription/recent" class="nav-link">
            <p>10 Kênh mới nhất</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/subscription/besub/index" class="nav-link">
            <p>Tất cả</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/subscription/besub/unsubscribe" class="nav-link">
            <p>Kênh hủy subsribe</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview menu-close">
      <a href="#" class="nav-link">
        <span class="text-success"><i class="fa fa-random" aria-hidden="true"></i></span>
        <p>
          Subscribe chéo
          <i class="fa fa-angle-left right" aria-hidden="true"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/crosssub/setting" class="nav-link">
            <p>Cài đặt</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/crosssub/ready" class="nav-link">
            <p>Kênh có thể chéo</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/crosssub/subscribe" class="nav-link">
            <p>Bạn đã sub</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/crosssub/waiting" class="nav-link">
            <p>Đợi bạn trả sub</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/crosssub/crossing" class="nav-link">
            <p>Kênh đang chéo</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/crosssub/be-canceled" class="nav-link">
            <p>Kênh hủy chéo bạn</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/crosssub/canceled" class="nav-link">
            <p>Kênh bạn hủy chéo</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview menu-close">
      <a href="#" class="nav-link">
        <span class="text-warning"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
        <p>
          Chiến dịch
          <i class="fa fa-angle-left right" aria-hidden="true"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/subscription/sub" class="nav-link">
            <p>Tăng view</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/subscription/unsubscribe" class="nav-link">
            <p>Tăng subscribe</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style media="screen">
ul.nav-treeview li a p {
    color: #00FFCC;
    font-weight:bold;
    padding-left:10px;
  }
ul li.nav-item a p{
  font-weight:bold;
}
</style>
