<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/plugins/fontawesome-free/css/font-awesome.min.css">
	<link rel="icon" href="/img/youtube.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>Hệ thống subscribe youtube</h2>
		</div>
		<div class="row">
			<div class="col-md-2">

			</div>
			<div class="col-md-8 col-sm-12">
				<div id="player"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="margin: 0 auto; margin-top:10px; display:block; border-radius: 2px;">
				<a href="/auth/google" class="btn btn-block btn-primary btn-lg">
					<span class="text-danger align-left" id="icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
					Login with youtube
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<a href="https://www.facebook.com/groups/redoapp" target="_blank">
					<h5>	<span><i class="fa  fa-facebook-square" aria-hidden="true"></i></span>Support group</h5>
				</a>
			</div>
			<div class="col-sm-2">
				<a href="https://www.facebook.com/Fanpage-redoappcom-113557000412151" target="_blank">
					<h5>	<span><i class="fa  fa-facebook-square" aria-hidden="true"></i></span>Fanpage</h5>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.youtube.com/channel/UCvrK3w-_n9jPy93tHHJ7Rgg" target="_blank">
					<h5>	<span class="text-danger"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>Hướng dẫn</h5>
				</a>
			</div>
		</div>
	</div>

	<footer>
		<style type="text/css">
		body:{
			font-family: "Courier New", Times, serif;
		}
		#icon:{
			float: left;
		}
		</style>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>


		<script>
		// 2. This code loads the IFrame Player API code asynchronously.
		var tag = document.createElement('script');

		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// 3. This function creates an <iframe> (and YouTube player)
		//    after the API code downloads.
		var player;
		var videoId = 'usAly7_FTQU';
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
				height: '400',
				width: '100%',
				videoId: videoId,
				playerVars:{
          'rel':0,
          'controls':0,
          'fs':1,
          'modestbranding':1
        },
				events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange
				}
			});
		}

		// 4. The API will call this function when the video player is ready.
		function onPlayerReady(event) {
			event.target.playVideo();
		}

		// 5. The API calls this function when the player's state changes.
		//    The function indicates that when playing a video (state=1),
		//    the player should play for six seconds and then stop.
		var done = false;
		function onPlayerStateChange(event) {
			if (event.data == YT.PlayerState.PLAYING && !done) {
				// setTimeout(stopVideo, 6000);
				done = true;
			}
		}
		function stopVideo() {
			player.stopVideo();
		}
		</script>
	</footer>
</body>
</html>
